/* styles.css */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set a minimum height of the viewport */
  background-image: linear-gradient(to bottom, rgb(38, 38, 38), rgb(41, 41, 45), rgb(29, 27, 42), rgb(39, 38, 63), rgb(24, 27, 82));
  background-repeat: no-repeat;
  background-size: cover; /* Make sure the background covers the entire viewport */
}

.Homepage {
  background-color: transparent;
}

.MainHeader {
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-top: 11rem;
  font-size: 40px;
}

.SecHeader {
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-top: 2rem;
  font-size: 20px;
  word-spacing: 2px; 
}

.search-button {
  display: block;
  margin: 20px auto;
  margin-top: 3rem;
  background-color: #fa7070;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #f03030;
}

.search-bar {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  width: 80%;
}


